{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": [
      "off"
    ],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}